@import "theme.scss";

.converter-content {
    background-color: $color-gray;
    margin: auto;
}

.input-box {
    width: 100%;
}
.screen-box {
    background-color: $color-white;
    min-height: 24px;
}
.key-contanier {
    background-color: $color-light;
    width: 80px;
    text-align: center;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px $color-dark;
    }
}
